{% extends 'base.html.twig' %}

{% block body %}

{% set number_of_images  = 15 %}

<center><h1>{{'organizer-of-the-work-page.title' |trans}}</h1></center>



<div class="row">
    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="slider/organizer-of-the-work/{{number_of_images}}/1"><img src="{{ asset('img/organizer-of-the-work/1.png') }}"  alt="Obrazek"></a>
        <center>{{'organizer-of-the-work-page.organizer-of-the-work-1'|trans}}</center>
    </div>
    <div class="col-lg-12 col-xl-8 m-auto">
        <p>{{'organizer-of-the-work-page.description-01'|trans}}</p>
    </div>

    <div class="col-lg-12 col-xl-8 m-auto">
        <p>{{'organizer-of-the-work-page.description-02'|trans}}</p>
    </div>
    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="slider/organizer-of-the-work/{{number_of_images}}/2"><img src="{{ asset('img/organizer-of-the-work/2.png') }}"  alt="Obrazek"></a>
        <center>{{'organizer-of-the-work-page.organizer-of-the-work-2'|trans}}</center>
    </div>

    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="slider/organizer-of-the-work/{{number_of_images}}/3"><img src="{{ asset('img/organizer-of-the-work/3.png') }}"  alt="Obrazek"></a>
    <center>{{'organizer-of-the-work-page.organizer-of-the-work-3'|trans}}</center>
    </div>
    <div class="col-lg-12 col-xl-8 m-auto">
        <p>{{'organizer-of-the-work-page.description-03'|trans}}</p>
    </div>

    <div class="col-lg-12 col-xl-8 m-auto">
        <p>{{'organizer-of-the-work-page.description-04'|trans}}</p>
    </div>
    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="slider/organizer-of-the-work/{{number_of_images}}/4"><img src="{{ asset('img/organizer-of-the-work/4.png') }}"  alt="Obrazek"></a>
        <center>{{'organizer-of-the-work-page.organizer-of-the-work-4'|trans}}</center>
    </div>

    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="slider/organizer-of-the-work/{{number_of_images}}/5"><img src="{{ asset('img/organizer-of-the-work/5.png') }}"  alt="Obrazek"></a>
    <center>{{'organizer-of-the-work-page.organizer-of-the-work-5'|trans}}</center>
    </div>
    <div class="col-lg-12 col-xl-8 m-auto">
        <p>{{'organizer-of-the-work-page.description-05'|trans}}</p>
    </div>

    <div class="col-lg-12 col-xl-8 m-auto">
        <p>{{'organizer-of-the-work-page.description-06'|trans}}</p>
    </div>
    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="slider/organizer-of-the-work/{{number_of_images}}/6"><img src="{{ asset('img/organizer-of-the-work/6.png') }}"  alt="Obrazek"></a>
        <center>{{'organizer-of-the-work-page.organizer-of-the-work-6'|trans}}</center>
    </div>
    
    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="slider/organizer-of-the-work/{{number_of_images}}/7"><img src="{{ asset('img/organizer-of-the-work/7.png') }}"  alt="Obrazek"></a>
    <center>{{'organizer-of-the-work-page.organizer-of-the-work-7'|trans}}</center>
    </div>
    <div class="col-lg-12 col-xl-8 m-auto">
        <p>{{'organizer-of-the-work-page.description-07'|trans}}</p>
    </div>

    <div class="col-lg-12 col-xl-8 m-auto">
        <p>{{'organizer-of-the-work-page.description-08'|trans}}</p>
    </div>
    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="slider/organizer-of-the-work/{{number_of_images}}/8"><img src="{{ asset('img/organizer-of-the-work/8.png') }}"  alt="Obrazek"></a>
        <center>{{'organizer-of-the-work-page.organizer-of-the-work-8'|trans}}</center>
    </div>

    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="slider/organizer-of-the-work/{{number_of_images}}/9"><img src="{{ asset('img/organizer-of-the-work/9.png') }}"  alt="Obrazek"></a>
    <center>{{'organizer-of-the-work-page.organizer-of-the-work-9'|trans}}</center>
    </div>
    <div class="col-lg-12 col-xl-8 m-auto">
        <p>{{'organizer-of-the-work-page.description-09'|trans}}</p>
    </div>

    <div class="col-lg-12 col-xl-8 m-auto">
        <p>{{'organizer-of-the-work-page.description-10'|trans}}</p>
    </div>
    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="slider/organizer-of-the-work/{{number_of_images}}/10"><img src="{{ asset('img/organizer-of-the-work/10.png') }}"  alt="Obrazek"></a>
        <center>{{'organizer-of-the-work-page.organizer-of-the-work-10'|trans}}</center>
    </div>

    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="slider/organizer-of-the-work/{{number_of_images}}/11"><img src="{{ asset('img/organizer-of-the-work/11.png') }}"  alt="Obrazek"></a>
        <center>{{'organizer-of-the-work-page.organizer-of-the-work-11'|trans}}</center>
    </div>
    <div class="col-lg-12 col-xl-8 m-auto">
        <p>{{'organizer-of-the-work-page.description-11'|trans}}</p>
    </div>

    <div class="col-lg-12 col-md-6 col-xl-4 m-auto text-center">
        <a href="slider/organizer-of-the-work/{{number_of_images}}/12"><img class="img-standard" src="{{ asset('img/organizer-of-the-work/12.png') }}"  alt="Obrazek"></a>
        <center>{{'organizer-of-the-work-page.organizer-of-the-work-12'|trans}}</center>
    </div>
    <div class="col-lg-12 col-md-6 col-xl-4 m-auto text-center">
        <a href="slider/organizer-of-the-work/{{number_of_images}}/13"><img class="img-standard" src="{{ asset('img/organizer-of-the-work/13.png') }}"  alt="Obrazek"></a>
        <center>{{'organizer-of-the-work-page.organizer-of-the-work-13'|trans}}</center>
    </div>
    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="slider/organizer-of-the-work/{{number_of_images}}/14"><img class="img-standard" src="{{ asset('img/organizer-of-the-work/14.png') }}"  alt="Obrazek"></a>
        <center>{{'organizer-of-the-work-page.organizer-of-the-work-14'|trans}}</center>
    </div>

    <div class="col-lg-12 col-xl-8 m-auto">
        <p>{{'organizer-of-the-work-page.description-12'|trans}}</p>
    </div>  
    <div class="col-lg-12 col-xl-4 m-auto text-center">
        <a href="slider/organizer-of-the-work/{{number_of_images}}/15"><img src="{{ asset('img/organizer-of-the-work/15.png') }}"  alt="Obrazek"></a>
        <center>{{'organizer-of-the-work-page.organizer-of-the-work-15'|trans}}</center>
    </div>


    <div class="col-lg-12 m-auto">
        <p>{{'organizer-of-the-work-page.description-13'|trans}}</p>
    </div>

    <div class="col-lg-12 m-auto">
        <p>{{'organizer-of-the-work-page.description-14'|trans}}</p>
    </div>

    <div class="col-lg-12 m-auto text-center">
        <a href="https://github.com/161OS256/Organizator-pracy-na-potrzeby-w-asne" target="blank">{{'repo'|trans}}</a>
    </div>
   
</div>
{% endblock %}
