{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5" style="max-width: 700px;">
    <h1 class="mb-4 text-center">📝 Nowy wpis</h1>

    {{ form_start(form) }}

        <div class="mb-3">
            {{ form_label(form.title, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control',  'style': 'background-color: #868680;'}}) }}
            {{ form_errors(form.title) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.content, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': 10,  'style': 'background-color: #868680;'}}) }}
            {{ form_errors(form.content) }}
        </div>

   
        <div class="form-check d-flex align-items-center gap-2 mb-0">
            {{ form_widget(form.public, {'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(form.public, null, {'label_attr': {'class': 'form-check-label mb-0'}}) }}
            <button class="btn btn-success w-100">💾 Zapisz</button>
        </div>
        <a href="{{ path( 'topic_show', {'_locale': app.request.locale, 'slug': slug}) }}" class="btn btn-secondary mt-3">Powrót</a>

    {{ form_end(form) }}
 
</div>
{% endblock %}
