{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-3">{{ blog.title }}</h1>

    {% if blog.topic %}
        <p class="text-muted">Temat: 
            <a href="{{ path('topic_show', { slug: blog.topic.slug, _locale: app.request.locale }) }}">
                {{ blog.topic.name }}
            </a>
        </p>
    {% endif %}

    <hr>

    <article class="mt-4">
        {{ blog.content|markdown|raw }}

    </article>

    <div class="mt-5">
        {# <a href="{{ path('blog_edit', { id: blog.id }) }}" class="btn btn-warning">✏️ Edytuj</a> #}
        <a href="{{ path('blog_index') }}" class="btn btn-secondary">⬅️ Wróć do listy</a>
    </div>
</div>
{% endblock %}
