{% extends 'base.html.twig' %}

{% block body %}
   
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <div class="container mt-4">
            <h2>Edytuj temat</h2>

        {{ form_start(form, {'attr': {'class': 'd-flex gap-2 align-items-center'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nowa nazwa'}}) }}

            <div class="form-check d-flex align-items-center gap-2 mb-0">
                {{ form_widget(form.public, {'attr': {'class': 'form-check-input'}}) }}
                {{ form_label(form.public, null, {'label_attr': {'class': 'form-check-label mb-0'}}) }}
            </div>

            <button class="btn btn-primary">Zapisz</button>
        {{ form_end(form) }}


            <a href="{{ path('admin_index', {'_locale': app.request.locale}) }}" class="btn btn-secondary mt-3">Powrót</a>
        </div>


{% endblock %}
