{% extends 'base.html.twig' %}

{% block title %}Statystyki ruchu{% endblock %}

{% block body %}
<center>
    <h1>Statystyki wizyt</h1>
</center>

<canvas id="visitsChart" width="800" height="400" style="background-color: #aaaaa3;"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('visitsChart').getContext('2d');
    const chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ dates|json_encode|raw }},
            datasets: [
                {
                    label: 'Ludzie (odsłony)',
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    data: {{ humans|json_encode|raw }},
                    fill: false
                },
                {
                    label: 'Admin',
                    backgroundColor: 'rgba(255, 206, 86, 0.2)',
                    borderColor: 'rgba(255, 206, 86, 1)',
                    data: {{ admin_visits|json_encode|raw }},
                    fill: false
                },
                {
                    label: 'Boty (odsłony)',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    data: {{ bots|json_encode|raw }},
                    fill: false
                },
                {
                    label: 'Unikalnych odwiedzających',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    data: {{ unique_visits|json_encode|raw }},
                    fill: false,
                    borderDash: [5, 5]
                },
            ]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    labels: {
                        font: {
                            size: 14
                        }
                    }
                },
                tooltip: {
                    mode: 'index',
                    intersect: false,
                }
            }
        }
    });
</script>
{% endblock %}
